body{
	background-color:#d3d3d3;
}

/*Navbar*/

header.navbar{
	overflow:hidden;
}

header.navbar .container-fluid { 
	list-style-type: none;
	margin:0px;
	padding-top:10px;
	color:#d3d3d3;
	}
	
header.navbar .container-fluid li {
	float: left;
	margin-left:50px;
	color:#d3d3d3;
	}

header.navbar .container-fluid li a {
	display: inline-block;
    	color: white;
    	text-align: center-right;
    	padding:20px;
    	text-decoration: none;
	}

header.navbar .container-fluid li a:hover {
	background-color:#e8e3e3;
	}

div.panel{
	border:0px;
	margin-bottom:-5px;
}

div.panel .panel-heading {
	text-align:center;
	margin-bottom:15px;
	margin-top:25px;
	background-color:white;
}

div.panel .panel-body{
	background-color:white;
}

div.panel .panel-body .row .col-md-1 h2 {
	text-align:center;
	font-size:12px;
	padding-bottom:18px;
}


/*Footer*/

footer.navbar .container-fluid { 
	overflow:hidden;
	display:block;
	padding:15px;
	color:#d3d3d3;
	}


footer.navbar .container-fluid .col-md-1 li a {
	padding-right:60px;
	float: center;
	}
