body{
	background-color:black;
}

header.navbar{
	overflow:hidden;
}

header.navbar .container-fluid { 
	list-style-type: none;
	margin:0px;
	padding-top:10px;
	}
	
header.navbar .container-fluid li {
	float: left;
	margin-left:50px;
	}

header.navbar .container-fluid li a {
	display: inline-block;
    color: white;
    text-align: center-right;
    padding:20px;
    text-decoration: none;
	}

header.navbar .container-fluid li a:hover {
	background-color:#ff8c00;
	}

	/*Front Page*/
	
div.carousel-slide .carousel-inner {
	width:1350px;
	height:400px;
}

div.jumbotron {
	background-color:black;
	margin-top:-30px;
	margin-bottom: -5px;
}

div.jumbotron .container-fluid .col-md-5 .col-md-12 h2{
	background-color:#ff8c00;
	color:black;
	padding:25px;
	font-size:22px;
	/*border:yellow;
	border-width:1px;
	border-style:solid;*/
	box-shadow: inset 10px 0px 0px 0px yellow;
	text-decoration:none !important;
	position:relative;
	display:block;
}

div.jumbotron .container-fluid .col-md-5 .col-md-12 a:hover{
	text-decoration:none;
	opacity:0.9;
}

div.jumbotron .container-fluid .col-md-5 a:hover{
	text-decoration:none;
	opacity:0.9;
}


div.jumbotron .container-fluid .col-md-5 h2{
	background-color:#ff8c00;
	color:black;
	padding:25px;
	font-size:22px;
	/*border:yellow;
	border-width:1px;
	border-style:solid;
	box-shadow: inset 0px 0px 0px 2px #9932cc;*/
	box-shadow: inset 10px 0px 0px 0px yellow;
	text-decoration:none !important;
}

div.jumbotron .container-fluid .col-md-5 .col-md-12 p{
	background-color:white;
	color:black;
	font-size:13px;
	padding:10px;
	margin-top:-10px;
}

div.jumbotron .container-fluid .col-md-5 p{
	background-color:white;
	color:black;
	font-size:13px;
	padding:10px;
	margin-top:-10px;
}

/*Contact us */

div.panel{
	border:0px;
	margin-bottom:-5px;
}

div.panel .panel-heading {
	text-align:center;
	margin-bottom: 25px;
	background-color:white;
}

div.panel .panel-body{
	background-color:white;
}

div.panel .panel-body .row .col-md-12 .col-md-4 {
	text-align:center;
	font-size:16px;
	padding-bottom:18px;
}

footer.navbar .container-fluid { 
	font-size:12px;
	list-style-type: none;
	overflow:hidden;
	display:block;
	padding:15px;
	}
	
footer.navbar .container-fluid li {
	float: left;
	color:white;
	}

footer.navbar .container-fluid li a {
    color: white;
    text-align: center-right;
	padding:10px;
	}

footer.navbar .container-fluid .col-md-12 li {
    color: white;
	font-size: 9px;
	padding:5px;
}

footer.navbar .container-fluid .col-md-5 li {
    color: white;
	font-size: 10px;
	padding-left:5px;
}


